.title {
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.title-img {
	margin-right: 10px;
}

.title-header {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.title-img {
	height: 50px;
	width: auto;
}

.root {
	width: 45%;
	margin: 0 auto;
	font-size: 18px;
}
