{% extends 'base_email.html' %}
{% block style %}
	.steps-list, li {
		margin: 10px;
	}

	.steps-list {
		margin-bottom: 50px;
	}
{% endblock %}
{% block body %}
	<p>
		Hi, {{ username }}
	</p>
	<p>
		Thank you for registration an account on Event Reminder Cloud service. But this is only first step.
		To use your new account you need to login and account will be activated. Otherwise it will be deleted
		in 24 hours as inactive.<br>
		Here is you account credentials:<br>
	</p>
	<ul class="steps-list">
		<li>Login: {{ username }}</li>
		<li>Password: {{ password }}</li>
	</ul>
	<p>Delete this email letter if someone else hash an access to your mail service.</p>
{% endblock %}
