{% extends 'base_email.html' %}
{% block style %}
	.steps-list, li {
		margin: 10px;
	}
	.steps-list {
		margin-bottom: 50px;
	}
{% endblock %}
{% block body %}
	<p>
		Hi, {{ username }}
	</p>
	<p>
		Someone (hopefully you) has requested a password reset for your Event Reminder account.
		Follow steps below to set a new password:
	</p>
	<ul class="steps-list">
		<li>copy the verification code: {{ v_code }}</li>
		<li>paste it into confirmation field</li>
		<li>provide a new password and save changes</li>
	</ul>
	<p>If you don't wish to reset your password, disregard this email and no action will be taken.</p>
{% endblock %}
